# source: https://docs.astro.build/en/guides/deploy/github/


name: Deploy to GitHub Pages

on:
  # Trigger the workflow on every push to the `main` branch
  push:
    branches: [ main ]
  # Allows this workflow to be triggered manually
  workflow_dispatch:

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v5
      - name: Install playwright for mermaid
        run: npx playwright install --with-deps chromium
      - name: Install, build, and upload your site
        uses: withastro/action@v5
        with:
          path: ./the-data-pipeline
          node-version: 22

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
